<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213702183203-5evusee9ap7f75rqi9p63m9af81pib4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213702183203-5evusee9ap7f75rqi9p63m9af81pib4h</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyh7JmXFTXeHlHq4IUU77lSluTXnZQGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>213702183203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>katonalukokat.maturita</string>
	<key>PROJECT_ID</key>
	<string>snip-97e27</string>
	<key>STORAGE_BUCKET</key>
	<string>snip-97e27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213702183203:ios:5f710d0e8def709e87a496</string>
</dict>
</plist>